mat-card{
    width: 495px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

table{
    width: 100%;
}

mat-spinner{
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}