<div id="bgPage">
    <div id="displayPage">
        <div id="centerContent">
        <mat-toolbar>
            <app-date-picker></app-date-picker>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkMyw3J0hqO9SUHuuj6gbuvg7pruzKzh9UCCqAA3W_sRrp5xwMPKYpFNG5x8Z1FWGtohc&usqp=CAU" alt="photo mr kappard">
                <p>Bonjour Mr Kappar</p>
                <button (click)="logOut()" mat-stroked-button color="primary">Se déconnecter</button>
            </div>
        </mat-toolbar>
        
            <div id="displayTopPage">
                <mat-card id="graphStatColumn">
                <app-graph-visite></app-graph-visite>
                <div id="statDisplay">
                    <div id="basicStat">
                        <img src="../../../assets/CA.png" alt="logo Chiffred'affaire">
                        <div id="displayCard">
                            <mat-card-title>
                                <h5>Chiffre d'affaire</h5>
                            </mat-card-title>
            
                            <mat-card-content>
                            <h1>{{ stats.montantVenteTotal }} €</h1>
                            </mat-card-content>
                        </div>
                    </div>
                    <div id="basicStat">
                        <img src="../../../assets/commande.png" alt="logo Chiffred'affaire">
                        <div id="displayCard">
                            <mat-card-title>
                                <h5>Total de commande</h5>
                            </mat-card-title>
            
                            <mat-card-content>
                            <h1>{{ stats.nbCommand }}</h1>
                            </mat-card-content>
                        </div>
                    </div>
                    <div id="basicStat">
                        <img src="../../../assets/panier.png" alt="logo Chiffred'affaire">
                        <div id="displayCard">
                            <mat-card-title>
                                <h5>Total de Panier</h5>
                            </mat-card-title>
            
                            <mat-card-content>
                            <h1>{{ stats.nbPanier }}</h1>
                            </mat-card-content>
                        </div>
                    </div>
                    <div id="basicStat">
                        <img src="../../../assets/icon1.png" alt="logo Chiffred'affaire">
                        <div id="displayCard">
                            <mat-card-title>
                                <h5>Panier moyen</h5>
                            </mat-card-title>
            
                            <mat-card-content>
                            <h1>{{ moyPanier }}</h1>
                            </mat-card-content>
                        </div>
                    </div>
                </div>
                </mat-card>
                <app-table-article></app-table-article>
            </div>
            <div id="displayUnderFirstGraph">
                <app-graph1></app-graph1>
                <app-graph-abandon></app-graph-abandon>
            </div>
            <div id="displayBottom">
                <app-graph-conversion-panier id="conversionPanier"></app-graph-conversion-panier>
                <app-graph-conversion-commande></app-graph-conversion-commande>
            </div>
        </div>
    </div>
</div>