/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;}

.advanced-pie-legend .legend-items-container, .advanced-pie-legend .legend-items-container .legend-items{
    overflow: hidden !important;
}

.advanced-pie-legend .total-value{
    display: none;
}
.advanced-pie-legend .total-label{
    display: none;
}
.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value{
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color{
    height: 58px !important;
}

.advanced-pie-legend-wrapper{
    margin-left: 2rem !important;
    width: 250px !important;
}
#conversionPanier .chart-legend{
    position: absolute;
    top: 30px;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    padding-top: 0 !important;
}